/* _Body.scss goes here */

body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .style{
      margin-left:25%;
      padding:1px 16px;
      height:1000px;
  }